{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "importOrder": [
    "(.*)types(.*)$",
    "^next/(.*)$",
    "^next-(.*)$",
    "^@mui/(.*)$",
    "^@investigativedata/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
